@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


body{
    font-family:'Josefin Sans', Arial, "Trebuchet MS", sans-serif;
    background-color:black;
    color: #555555;
    font-size: large;
    padding: 35px;
}

/* QLOCK */
.qlock-letter {
    float: left;
    width: 9%;
    text-align: center;
    font-size: 2.3em;
}

.qlock-active {
    color: white;
    text-shadow: 0 0 20px #999999;
}

/* ENVIRONMENT DATA */
.environment {
    margin-bottom: 2em;
}

.wi-2x {
    font-size: 2em;
}

.environment-data {
    font-size: 1.2em;
}