@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

/* OVERWRITES */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

/* CUSTOM STYLES */
body{
    font-family:'Josefin Sans', Arial, "Trebuchet MS", sans-serif;
    background-color:black;
    color: #333333;
    font-size: large;
    padding: 35px;
}

.vertical-separator {
    height: 640px;
    border-right: 1px solid #333333;
}

/* QLOCK */
.qlock-letter {
    float: left;
    width: 9%;
    text-align: center;
    font-size: 2.3em;
}

.qlock-active {
    color: white;
    text-shadow: 0 0 20px #999999;
}

/* ENVIRONMENT */
.environment {
    margin-bottom: 1.1em;
    color: #666666;
}

.fa-1_4x {
    font-size: 1.4em;
}

.wi-1_2x {
    font-size: 1.2em;
}

.wi-1_4x {
    font-size: 1.4em;
}

.wi-1_6x {
    font-size: 1.6em;
}

.wi-0_8x {
    font-size: 0.8em;
    line-height: 0.8em;
}

.environment-data {
    font-size: 1.05em;
    line-height: 2em;
}

.environment-label {
    line-height: 40px;
}

/* INTERIOR */
.interior-line-chart {
    height: 80px;
    width: 100%;
}

/* FORECAST */
.forecast-row {
    margin-bottom: 1em;
}

.forecast-label {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.forecast-data-temperature {
    font-size: 1.2em;
}

.forecast-data-temperature-from-to {
    font-size: 1em;
    line-height: 1em;
}

.forecast-data-icon {
    padding-bottom: 0.4em;
}

.forecast-data {
    font-size: 0.7em;
    line-height: 2em;
}

/* DATE */
.date {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}